/* 123123.css */
body {
    background-image: url('oboi-gornoe-ozero.orig.jpg'); /* Установка фонового изображения */
    font-family: Times New Roman, sans-serif; /* Установка шрифта */
    background-color: #f0f0f0; /* Установка цвета фона */
    font-size: 24pt; /* Установка размера шрифта */
    color: blue; /* Установка цвета текста */
}

/* Стили для абзацев */
p {
    color: blue; /* Установка цвета текста */
}

/* Стили для заголовков h3 */
h3 {
    color: red; /* Установка цвета текста */
    text-decoration: underline; /* Подчеркивание текста */
    text-align: center; /* Выравнивание по центру */
}

/* Стили для упорядоченных списков */
ol {
    color: green; /* Установка цвета текста */
}

/* Стили для ссылок */
a {
    text-decoration: none; /* Убрать подчеркивание ссылок */
    color: red; /* Установка цвета текста ссылок */
}

/* Стили для активных ссылок */
a:link {
    color: green; /* Установка цвета текста ссылок при наведении */
}

/* Стили для нажатых ссылок */
a:active {
    color: blue; /* Установка цвета текста ссылок при нажатии */
    text-decoration: none; /* Убрать подчеркивание при нажатии */
}